/* @import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic'); */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
  }

  div,
  h1,
  h2,
  h3,
  p,
  blockquote {
    width: 800px;
    margin: 0 auto;
  }

img {
  display: block;
  width: 1200px;
}

h1 {
  font-style: normal;
  font-size: 40px;
  color: black;
  font-weight: 700;
}
h3 {
  font-size:
}
p {
  font-size: 22px;
}
/* */
div {
  border: 2px;
  padding: 30px;
  width: 500px ;
  height: 820px;
  border-style: groove;
  border-color: inherit;
  background-color: #F5FFFA;
}

h1 + p {
  opacity: 0.6;
}
